body {
	font-size: 9pt;
}
input {
	width: 95%;
	font-size: 9pt;
}
.editable-input input {
	width: 75%;
}
.editable-empty {
	color: #ccc;
}
a {
	color: black;
}
a:hover {
	color: blue;
}
td {
	padding: 0 3px;
}
tr:nth-child(even) {
	background-color: #f5f5f5;
}
.sorthandle {
	cursor: ns-resize;
}
.deletehandle, #addsubmit {
	cursor: pointer;
}
tfoot td {
	padding-top: 10px;
}

