<!DOCTYPE html>
<html>
<head>
<title>Jethro Password Manager</title>
<script src="js/jquery-1.11.1.min.js" type="text/javascript"></script>
<script src="js/jquery-ui.min.js" type="text/javascript"></script>
<script src="js/jqueryui-editable.min.js" type="text/javascript"></script>
<script src="js/password.js" type="text/javascript"></script>
<link href="css/jquery-ui.min.css" rel="stylesheet" type="text/css" />
<link href="css/jquery-ui.structure.min.css" rel="stylesheet" type="text/css" />
<link href="css/jquery-ui.theme.min.css" rel="stylesheet" type="text/css" />
<link href="css/jqueryui-editable.css" rel="stylesheet" type="text/css" />
<link href="css/password.css" rel="stylesheet" type="text/css" />
</head>
<body>
<%=ERB.new(body).result(binding)%>
</body>
</html>
